<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <mat-card-header>Add User to your Organization</mat-card-header>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-picture item-vertical-center">
        <img [src]="avatar" alt="photo" *ngIf="!uploadImageShow">
        <img [src]="userPhoto" alt="photo" *ngIf="uploadImageShow">
        <input id="file" class="file-upload-btn" type="file" accept='image/*' (change)="preview($event.target)"/>
        <label for="file" class="mt-5 d-block">Upload Image</label>
      </div>
    </div>
    <div class="col-md-8">
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput type="text" formControlName="userName">
        <mat-error *ngIf="submitted && f.userName.errors">
          <div *ngIf="f.userName.errors.required">
            User Name is required
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>User Email</mat-label>
        <input matInput type="email" formControlName="userEmail">
        <mat-error *ngIf="submitted && f.userEmail.errors">
          <div *ngIf="f.userEmail.errors.required">
            User Email is required
          </div>
          <div *ngIf="f.userEmail.errors.email">
            Email type is not correct!
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>User Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-hint>Password must be at least 6 characters</mat-hint>
        <mat-error *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">
            Password is required
          </div>
          <div *ngIf="f.password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-hint>Please type your password again!</mat-hint>
        <mat-error *ngIf="submitted && f.confirmPassword.errors">
          <div *ngIf="f.confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
            Passwords must match
          </div>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <button type="submit" mat-raised-button color="primary" class="float-right mt-2">Save</button>
  <button type="button" mat-raised-button class="float-right mr-2 mt-2" (click)="close()">Cancel</button>
</form>
