<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/maindashboard']">
  <mat-icon>dashboard_outlined</mat-icon>
  <span class="menu-item-title">Home</span>
</a>
<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/newsfeed']">
  <mat-icon>menu_book</mat-icon>
  <span class="menu-item-title">News Feed</span>
</a>

<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/howtopage']">
  <mat-icon>storage</mat-icon>
  <span class="menu-item-title">How To Invest</span>
</a>

<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/portfolio']">
  <mat-icon>group</mat-icon>
  <span class="menu-item-title">Portfolio</span>
</a>

<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/catalogue']">
  <mat-icon>monochrome_photos</mat-icon>
  <span class="menu-item-title">Catalogue</span>
</a>
<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/userpage']">
  <mat-icon>group_add</mat-icon>
  <span class="menu-item-title">Userpage</span>
</a>
<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/FAQs']">
  <mat-icon>camera</mat-icon>
  <span class="menu-item-title">FAQs</span>
</a>
<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/aboutus']">
  <mat-icon>folder_shared</mat-icon>
  <span class="menu-item-title">About Us</span>
</a>
<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/termsandconditions']">
  <mat-icon>chrome_reader_mode</mat-icon>
  <span class="menu-item-title">T's and C's</span>
</a>
<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/contactus']">
  <mat-icon>contact_phone</mat-icon>
  <span class="menu-item-title">Contact Us</span>
</a>
