<app-header></app-header>
<section class="banner-area page-title bg_cover mt-0" style="background-image: url('assets/images/page-title-bg.jpg');">
  <div class="banner-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title-content">
            <h3 class="title">Contact Us</h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-shape-1"></div>
  <div class="banner-shape-2">
    <img src="assets/images/banner-shape-1.png" alt=""/>
  </div>
  <div class="banner-shape-3">
    <img src="assets/images/banner-shape-2.png" alt=""/>
  </div>
</section>
<section class="contact-info-area pt-130 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-sm-8">
        <div class="contact-info-border">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="contact-info-item text-center">
                <mat-icon>map</mat-icon>
                <ul>
                  <li>27 Division St, New York, </li>
                  <li>NY 10002,USA </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="contact-info-item text-center active">
                <mat-icon>email</mat-icon>
                <ul>
                  <li>
                    <a href="https://gizmoder.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0e7d7b7e7e617c7a4e69636f6762206d6163">[email&#160;protected]</a>
                  </li>
                  <li>www.itservicesinfo.net</li>
                </ul>
                <img class="item-1" src="assets/images/contact-shape-1.png" alt="shape"/>
                <img class="item-2" src="assets/images/contact-shape-2.png" alt="shape"/>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="contact-info-item text-center">
                <mat-icon>local_phone</mat-icon>
                <ul>
                  <li>+08 (964) 712365</li>
                  <li>+0234 (456) 9864</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 order-2 order-lg-1">
        <div class="contact-thumb mt-30">
          <img src="assets/images/contact-thumb.jpg" alt=""/>
          <div class="contact-text">
            <h3 class="title">Leave A
              <br/> Message
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-8 order-1 order-lg-2">
        <div class="contact-massage-area mt-30 pl-70">
          <div class="contact-massage-content">
            <h3 class="title">Send A Message</h3>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter</p>
          </div>
          <form id="contact-form" action="https://gizmoder.com/demo/html/cloven/assets/contact.php" method="post">
            <div class="row">
              <div class="col-lg-6">
                <div class="input-box mt-20">
                  <input name="name" type="text" placeholder="Your Full Name"/>
                  <mat-icon>how_to_reg</mat-icon>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-box mt-20">
                  <input name="email" type="text" placeholder="Your Email "/>
                  <mat-icon>email</mat-icon>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="input-box mt-20">
                  <textarea name="message" id="#" cols="30" rows="10" placeholder="Write Message"></textarea>
                  <mat-icon>edit</mat-icon>
                  <button class="main-btn" type="submit">Send Message</button>
                </div>
              </div>
            </div>
          </form>
          <p class="form-message"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="contact-map-area">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3071.2910802067827!2d90.45905169331171!3d23.691532202989123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1577214205224!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
          <i class="fal fa-map-marker-alt"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="requst-quote-area services-quote bg_cover pt-115" style="background-image: url(assets/images/requst-quote-bg-2.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="requst-content text-center">
          <span>Get A Quote</span>
          <h2 class="title">Free Consultations</h2>
          <a class="main-btn-2 main-btn" href="#">Requst A Quote</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="brand-area about-brand pb-100 pt-100">
  <div class="container">
    <div class="row brand-active">
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-1.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-2.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-3.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-4.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-5.png" alt=""/>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-6.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
