<form [formGroup]="payFastForm" (ngSubmit)="getSignature()" *ngIf="formShow">
    <mat-card-header>{{modalContent}}</mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="mat-card-header mt-3">Business Name to Buy : {{itemName}}</div>
      <mat-form-field>
        <mat-label>Amount to pay</mat-label>
        <input type="number" matInput formControlName="amount" placeholder="Please Insert Amount">
        <span matSuffix>{{curSymbol}}</span>
        <mat-error *ngIf="hasError('amount', 'required')">
          Please insert this field.
        </mat-error>
        <mat-error *ngIf="hasError('amount', 'max') || hasError('amount', 'min')">
          Buy amount have to be between 1{{curSymbol}}~{{maxAmount}}{{curSymbol}}!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose the method</mat-label>
        <mat-select multiple formControlName="fundType">
          <mat-option *ngFor="let type of fundTypes" [value]="type['instrument']">
            {{type['instrument']}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('fundType', 'required')">
          Please choose your method.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Interest Rate</mat-label>
        <mat-select formControlName="rate">
          <mat-option *ngFor="let rate of rates;let index = index" [value]="index">{{rate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('rate', 'required')">
          Please insert your rate
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reporting Frequency</mat-label>
        <mat-select formControlName="frequency">
          <mat-option *ngFor="let frequency of frequencies;let index = index" [value]="index">{{frequency}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('frequency', 'required')">
          Please Choose your Frequency
        </mat-error>
      </mat-form-field>
      <mat-checkbox color="primary" (click)="showPart()" formControlName="agreement">I agree Terms and Policy</mat-checkbox>
      <p *ngIf="onShow">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
        trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Dui
        s aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu f
        ugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-footer class="w-100">
      <button type="submit" mat-raised-button class="float-right" color="primary">OK</button>
      <button type="button" mat-raised-button class="float-right mr-2" (click)="onNoClick()">Cancel</button>
    </mat-card-footer>
</form>
<form ngNoForm [action]="url" method="post" *ngIf="!formShow" target="_black">
  <mat-card-header>{{modalContent}}</mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
      <table class="mat-table">
        <thead><tr><th>Amount</th><th>Balance</th><th>Currency</th></tr></thead>
        <tbody><tr><td>{{amountBuy}}</td><td>{{balanceValue}}</td><td>{{curSymbol}}</td></tr></tbody>
      </table>
  </mat-card-content>
  <input type="hidden" name="merchant_id" value="{{commission['mse_merchant_id']}}">
  <input type="hidden" name="merchant_key" value="{{commission['mse_merchant_key']}}">
  <input type="hidden" name="return_url" value="{{commission['url_return']}}">
  <input type="hidden" name="cancel_url" value="{{commission['url_cancel']}}">
  <input type="hidden" name="notify_url" value="{{commission['url_notify']}}">
  <input type="hidden" name="amount" [value]="amountBuy"/>
  <input type="hidden" name="item_name" [value]="itemName">
  <input type="hidden" name="custom_str1" [value]="payFastForm.get('fundType').value">
  <input type="hidden" name="custom_str2" [value]="payFastForm.get('rate').value">
  <input type="hidden" name="custom_str3" [value]="payFastForm.get('frequency').value">
  <input type="hidden" name="custom_str4" [value]="businessId">
  <input type="hidden" name="custom_str5" [value]="userData.userId">
  <input type="hidden" name="payment_method" value="{{commission['payment_method']}}">
  <input type="hidden" name="signature" [value]="signature">
  <mat-card-actions class="text-right d-block">
    <button type="submit" mat-raised-button color="primary" class="mr-3 mt-2" (click)="onCheckOut()">Check out</button>
    <button type="button" mat-raised-button (click)="onNoClick()">Cancel</button>
  </mat-card-actions>
</form>
