<app-header></app-header>

<mdb-carousel [animation]="'slide'" class="arrow-none hidden-md">
  <mdb-carousel-item>
    <img class="d-block banner-slide ml-auto" src="assets/images/Agriculture-1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block banner-slide ml-auto" src="assets/images/Agriculture-2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block banner-slide ml-auto" src="assets/images/Agriculture-3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block banner-slide ml-auto" src="assets/images/education.jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
<section class="banner-area">
  <div class="banner-bg" style="position: relative;">
    <div class="container" style="z-index:3">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <div class="banner-content">
            <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">
              Welcome to the
              <span>
                  <span>MSE</span>
              </span>
            </h1>
            <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">Best & free guid of responsive web design</span>
            <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2.6s">
              <li>
                <a class="main-btn" href="#">Start Free Turtorial</a>
              </li>
              <li>
                <a class="main-btn main-btn-2" href="#">Read More</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="banner-shape-1"></div>
  <div class="banner-shape-2">
    <img src="assets/images/banner-shape-1.png" alt="">
  </div>
  <div class="banner-shape-3">
    <img src="assets/images/banner-shape-2.png" alt="">
  </div>
</section>
<section class="about-area pt-130 pb-130">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-thumb text-center">
          <img src="assets/images/about-thumb.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <h3 class="title">Perfect Solution Makes
            <span>A Successful
                <span>History</span>
            </span>
          </h3>
          <span>Something knows About Our Company</span>
          <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
          <ul>
            <li>
              <a class="main-btn " href="about-us.html">Learn More</a>
            </li>
            <li>
              <a class="" href="#">Let’s Get Started
                <i class="fal fa-long-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-area pb-130 bg_cover" style="background-image: url('assets/images/features-bg.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title section-title-2 text-center">
          <h2 class="title">We Offer IT Solutions
            <span>Safe And
                <span>Sustainable</span>
            </span>
          </h2>
          <p>Something knows About Our Features</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="features-item text-center white-bg wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="0ms">
          <mat-icon>lock_open</mat-icon>
          <h4 class="title">High Power Security Systems</h4>
          <a href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="features-item text-center white-bg item-2 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="300ms">
          <mat-icon>photo_filter</mat-icon>
          <h4 class="title">UX/UI Design Strategy</h4>
          <a href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="features-item text-center white-bg item-3 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="600ms">
          <mat-icon>widgets</mat-icon>
          <h4 class="title">Product Development</h4>
          <a href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="features-item text-center white-bg item-4 wow fadeIn animated" data-wow-duration="2000ms" data-wow-delay="900ms">
          <mat-icon>vpn_key</mat-icon>
          <h4 class="title">Web Security Solutions</h4>
          <a href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="project-case-area project-home pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2 class="title">Project Done
            <span>Latest
                <span>Case Study</span>
            </span>
          </h2>
          <p>Something knows About Our Cases</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="project-case-item mt-30">
          <div class="project-case-thumb">
            <img src="assets/images/project-3.jpg" alt="">
            <mat-icon class="fal fa-stars">important_devices</mat-icon>
          </div>
          <div class="project-case-content text-center">
            <img src="assets/images/project-shadow.png" alt="" style="margin-bottom:-60px;">
            <h4 class="title">Events IT Solutions</h4>
            <span>Important Of IT Services In Business</span>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
            <a href="#">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="project-case-item mt-30">
          <div class="project-case-thumb">
            <img src="assets/images/project-4.jpg" alt="">
            <mat-icon>school</mat-icon>
          </div>
          <div class="project-case-content text-center">
            <img src="assets/images/project-shadow.png" alt="" style="margin-bottom:-60px;">
            <h4 class="title">Cyber Security</h4>
            <span>Important Of IT Services In Business</span>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
            <a href="#">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="project-case-item mt-30">
          <div class="project-case-thumb">
            <img src="assets/images/project-5.jpg" alt="">
            <mat-icon>home_work</mat-icon>
          </div>
          <div class="project-case-content text-center">
            <img src="assets/images/project-shadow.png" alt="" style="margin-bottom:-60px;">
            <h4 class="title">Product Design</h4>
            <span>Important Of IT Services In Business</span>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how</p>
            <a href="#">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fact-area pt-80 pb-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="fact-item mt-30">
          <h3 class="title">
            <span class="counter">85</span> %
          </h3>
          <span>Globaly Overviews</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="fact-item mt-30">
          <h3 class="title">
            <span class="counter">95</span> %
          </h3>
          <span>Globaly Overviews</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="fact-item mt-30">
          <h3 class="title">
            <span class="counter">69</span> %
          </h3>
          <span>Globaly Overviews</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="fact-item mt-30">
          <h3 class="title">
            <span class="counter">87</span> %
          </h3>
          <span>Globaly Overviews</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-area pt-130 pb-130">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="team-title">
          <h3 class="title">Expert Team
            <br>
            <span>Meet
                <span>Our Expert’s</span>
            </span>
          </h3>
          <span>Something knows About Team</span>
        </div>
      </div>
      <div class="col-lg-7">
        <div id="expert" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#expert" data-slide-to="0" class="active d-none"></li>
            <li data-target="#expert" data-slide-to="1" class="d-none"></li>
            <li data-target="#expert" data-slide-to="2" class="d-none"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row team-active">
                <div class="col-lg-6">
                  <div class="team-item">
                    <img src="assets/images/team-1.jpg" alt="team">
                    <div class="team-overlay">
                      <div class="team-contet text-center">
                        <h5 class="title">Rufus A. Morales</h5>
                        <span>Product Designer</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="team-item">
                    <img src="assets/images/team-2.jpg" alt="team">
                    <div class="team-overlay">
                      <div class="team-contet text-center">
                        <h5 class="title">Rufus A. Morales</h5>
                        <span>Product Designer</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row team-active">
                <div class="col-lg-6">
                  <div class="team-item">
                    <img src="assets/images/team-2.jpg" alt="team">
                    <div class="team-overlay">
                      <div class="team-contet text-center">
                        <h5 class="title">Rufus A. Morales</h5>
                        <span>Product Designer</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="team-item">
                    <img src="assets/images/team-1.jpg" alt="team">
                    <div class="team-overlay">
                      <div class="team-contet text-center">
                        <h5 class="title">Rufus A. Morales</h5>
                        <span>Product Designer</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row team-active">
                <div class="col-lg-6">
                  <div class="team-item">
                    <img src="assets/images/team-1.jpg" alt="team">
                    <div class="team-overlay">
                      <div class="team-contet text-center">
                        <ul>
                          <li>
                            <a href="#">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-google-plus-g"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>
                        </ul>
                        <h5 class="title">Rufus A. Morales</h5>
                        <span>Product Designer</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="team-item">
                    <img src="assets/images/team-1.jpg" alt="team">
                    <div class="team-overlay">
                      <div class="team-contet text-center">
                        <ul>
                          <li>
                            <a href="#">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-google-plus-g"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>
                        </ul>
                        <h5 class="title">Rufus A. Morales</h5>
                        <span>Product Designer</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#expert" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#expert" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="working-process">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2 class="title">How We Works
            <span>Working
                <span>Process</span>
            </span>
          </h2>
          <p>4 Steps Are Follows We Works</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="working-item text-center item-1">
          <i class="fal fa-head-side-brain"></i>
          <h5 class="title">Idea Generator</h5>
          <p>Avoids pleasure itself, because it is pleasure but because those</p>
          <div class="dot-1">
            <img src="assets/images/working-dot-1.png" alt="working">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="working-item text-center item-2">
          <i class="fal fa-layer-group"></i>
          <h5 class="title">Info Collect</h5>
          <p>Avoids pleasure itself, because it is pleasure but because those</p>
          <div class="dot-2">
            <img src="assets/images/working-dot-2.png" alt="working">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="working-item text-center item-3">
          <i class="fal fa-unicorn"></i>
          <h5 class="title">Product Desing</h5>
          <p>Avoids pleasure itself, because it is pleasure but because those</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-7">
        <div class="working-item text-center item-4">
          <i class="fal fa-upload"></i>
          <h5 class="title">Launch Project</h5>
          <p>Avoids pleasure itself, because it is pleasure but because those</p>
          <div class="dot-3">
            <img src="assets/images/working-dot-1.png" alt="working">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-1"></div>
  <div class="shape-2"></div>
  <div class="shape-3"></div>
  <div class="shape-4"></div>
</section>
<section class="quote-area pt-130 pb-130">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="quote-thumb">
          <img src="assets/images/quote-thumb.png" alt="quote">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="quote-content">
          <h3 class="title">Get A Quote
            <br>
            <span>Free
                <span>Consultations</span>
            </span>
          </h3>
          <form action="#">
            <div class="input-box mt-25">
              <label for="#">Full Name Here</label>
              <input type="text" placeholder="Omar D. Kuebler">
              <i class="fal fa-user"></i>
            </div>
            <div class="input-box mt-25">
              <label for="#">I Would Like To Discuss</label>
              <input type="text" placeholder="I’m Talking About">
              <i class="fal fa-file"></i>
            </div>
            <div class="input-box mt-25">
              <label for="#">Leave A Message</label>
              <textarea name="#" id="#" cols="30" rows="10" placeholder="Write Message"></textarea>
              <i class="fal fa-pen-alt"></i>
            </div>
            <div class="submit-btn text-right mt-20">
              <button type="submit" class="main-btn">Send Mesage</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2 class="title">How We Works
            <span>Working
                <span>Process</span>
            </span>
          </h2>
          <p>knows About Our Customer Say</p>
        </div>
      </div>
    </div>
    <mdb-carousel [animation]="'slide'" [type]="'carousel-multi-item'">
      <mdb-carousel-item>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-1.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-2.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-3.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-2.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-3.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-4.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-3.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-4.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item white-bg text-center mt-70">
            <img src="assets/images/testimonial-5.jpg" alt="testimonial">
            <div class="star d-flex justify-content-center">
              <span>(</span>
              <ul>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
                <li><mat-icon>star</mat-icon></li>
              </ul>
              <span>)</span>
            </div>
            <p>Will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness one rejects,</p>
            <h6 class="title">Malissa R. Dallas</h6>
            <i class="fal fa-quote-right"></i>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</section>
<section class="blog-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2 class="title">Latest Post
            <span>Popular
                <span> News & Blog</span>
            </span>
          </h2>
          <p>knows About Latest News & Blog</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="blog-item mt-30 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="0ms">
          <div class="blog-thumb">
            <img src="assets/images/blog-1.jpg" alt="blog">
          </div>
          <div class="blog-content">
            <ul>
              <li>
                <i class="fal fa-user"></i> Daniele Custer
              </li>
              <li>
                <i class="fal fa-calendar-alt"></i> 25 Nov 2019
              </li>
            </ul>
            <h3 class="title">
              <a href="blog-details.html">Building Serverless Contact Form For Your Static Site</a>
            </h3>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu plea-sure rationally encounter consequences.</p>
            <a href="blog-details.html">View Details
              <i class="fal fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="blog-item item-2 mt-30 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="400ms">
          <div class="blog-thumb">
            <img src="assets/images/blog-2.jpg" alt="blog">
            <mat-icon>local_library</mat-icon>
          </div>
          <div class="blog-content">
            <ul>
              <li>Daniele Custer</li>
              <li>25 Nov 2019</li>
            </ul>
            <h3 class="title">
              <a href="">Fast UX Research An Easier Way To Engage Stakeholders </a>
            </h3>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu plea-sure rationally encounter consequences.</p>
            <a href="">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="blog-item mt-30 wow fadeIn animated" data-wow-duration="1500ms" data-wow-delay="800ms">
          <div class="blog-thumb">
            <img src="assets/images/blog-3.jpg" alt="blog">
          </div>
          <div class="blog-content">
            <ul>
              <li>Daniele Custer</li>
              <li>25 Nov 2019</li>
            </ul>
            <h3 class="title">
              <a href="">Building Serverless Contact Form For Your Static Site</a>
            </h3>
            <p>Avoids pleasure itself, because it is pleasure, but because those who do not know how topu plea-sure rationally encounter consequences.</p>
            <a href="">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="requst-quote-area bg_cover pt-115" style="background-image: url('assets/images/requst-quote-bg.jpg');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="requst-content text-center">
          <span>Get A Quote</span>
          <h2 class="title">Free Consultations</h2>
          <a class="main-btn-2 main-btn" href="#">Requst A Quote</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="newaletter-area">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="newaletter-item d-sm-flex d-block">
          <div class="newaletter-content d-flex align-items-center">
            <div class="item pl-70">
              <span>Newsletter</span>
              <h4 class="title">Subscribe</h4>
            </div>
          </div>
          <div class="newaletter-input d-sm-flex d-block justify-content-center align-items-center">
            <input type="email" placeholder="Enter your email">
            <button class="main-btn">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-area pb-130">
  <div class="container">
    <div class="row brand-active">
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-1.png" alt="">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-2.png" alt="">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-3.png" alt="">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-4.png" alt="">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-5.png" alt="">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="brand-item text-center">
          <img src="assets/images/barand-6.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

