<div *ngIf="show">
  <div class="p-header">overview</div>
  <div class="p-title">Good Morning, {{myData.username}}</div>
  <p class="mat-card-header mb-0">{{today | date: 'EEEE'}}, {{today | date: 'dd'}} of {{today | date: 'MMMM'}}</p>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <mat-card>
        <div class="float-right mr-0">
          <mat-icon color="primary">offline_bolt</mat-icon>
        </div>
        <div class="p-header">CPU USAGE</div>
        <div class="d-flex">
          <div class="p-title">25%</div>
          <mat-progress-bar value="25"></mat-progress-bar>
        </div>
        <div class="p-header">348 processes. 1/4 cores</div>
      </mat-card>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-card>
        <div class="float-right mr-0">
          <mat-icon color="primary">check_circle</mat-icon>
        </div>
        <div class="p-header">MEMORY USAGE</div>
        <div class="d-flex">
          <div class="p-title">45%</div>
          <mat-progress-bar value="45"></mat-progress-bar>
        </div>
        <div class="p-header">7.5/16 GB</div>
      </mat-card>
    </div>
    <div class="col-md-4 col-sm-12">
      <mat-card>
        <div class="float-right mr-0">
          <mat-icon color="primary">swap_vertical_circle</mat-icon>
        </div>
        <div class="p-header">DISK USAGE</div>
        <div class="d-flex">
          <div class="p-title">90%</div>
          <mat-progress-bar value="90"></mat-progress-bar>
        </div>
        <div class="p-header">0.9/1 TB</div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="mb-3">
        <div [ngSwitch]="weather.type" class="float-right" style="margin-top: -8px">
          <img *ngSwitchCase="weatherType.cloud" src="assets/weather/cloud.png" alt="cloud">
          <img *ngSwitchCase="weatherType.fog" src="assets/weather/fog.png" alt="fog">
          <img *ngSwitchCase="weatherType.rain" src="assets/weather/rain.png" alt="rain">
          <img *ngSwitchCase="weatherType.snow" src="assets/weather/snow.png" alt="snow">
          <img *ngSwitchCase="weatherType.lightning" src="assets/weather/lightning.png" alt="lightning">
          <img *ngSwitchCase="weatherType.unknown" src="assets/weather/unknown.png" alt="unknown">
          <ng-container *ngSwitchCase="weatherType.clear">
            <img *ngIf="isDay()" src="assets/weather/sun.png" alt="clear day">
            <img *ngIf="!isDay()" src="assets/weather/moon.png" alt="clear night">
          </ng-container>
          <ng-container *ngSwitchCase="weatherType.partialClear">
            <img *ngIf="isDay()" src="assets/weather/partial-sun.png" alt="partial clear day">
            <img *ngIf="!isDay()" src="assets/weather/partial-moon.png" alt="partial clear night">
          </ng-container>
        </div>
        <mat-card-header>Weather</mat-card-header>
        <mat-card-content>
          <div class="p-title text-blue">{{weather.temperature | number:'1.1-1'}}&#8451;</div>
          <ng-container *ngIf="failedToLoad">
            <div class="p-title">Weather is not available.</div>
            <p>Try looking out the window.</p>
          </ng-container>
          <div class="mat-card-header">{{city | uppercase }}&nbsp;&nbsp;<span class="text-warn">{{today | date: 'dd'}}</span></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mb-3">
        <mat-card-header>Alerts</mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="table-responsive">
            <table class="mat-table odd">
              <tr *ngFor="let notification of notifications">
                <td><mat-icon>{{notification.icon}}</mat-icon></td>
                <td>{{notification.title}}</td>
                <td>{{notification.text}}</td>
                <td>{{notification.time}}</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mb-3">
        <mat-card-header>ToDo List</mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-radio-button color="warn" checked class="mt-4">
            Learn Angular 4.0
            <span class="ml-30">2:45 PM</span>
          </mat-radio-button>
        </mat-card-content>
        <mat-card-content>
          <mat-radio-button color="warn">
            Learn Angular Material
            <span class="ml-30">3:20 PM</span>
          </mat-radio-button>
        </mat-card-content>
        <mat-card-content>
          <mat-radio-button color="warn">
            Write documentation
            <span class="ml-30">6:00 PM</span>
          </mat-radio-button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card>
        <mat-card-header>STOCKS</mat-card-header>
        <mat-card-content>
          <div class="table-responsive">
            <table class="mat-table odd">
              <tr><td>NASDAQ</td><td>4,492.87</td><td>-0.29%</td></tr>
              <tr><td>NYSE</td><td>10,046.81</td><td>-0.53%</td></tr>
              <tr><td>DOWJ</td><td>17,046.81</td><td>-0.14%</td></tr>
              <tr><td>APPL</td><td>100.89</td><td>+0.75%</td></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mt-3">
        <mat-card-header>Messages</mat-card-header>
        <mat-card-content>
          <div class="table-responsive">
            <table class="mat-table odd">
              <tr>
                <td><mat-icon color="primary">home</mat-icon></td>
                <td>Promotion<p class="mb-0">Important Message</p></td>
                <td>June 4</td>
              </tr>
              <tr>
                <td><mat-icon color="primary">home</mat-icon></td>
                <td>Updates<p class="mb-0">Important Message</p></td>
                <td>June 2</td>
              </tr>
              <tr>
                <td><mat-icon color="primary">home</mat-icon></td>
                <td>Completed 2 proyects<p class="mb-0">Important Message</p></td>
                <td>May 28</td>
              </tr>
              <tr>
                <td><mat-icon color="primary">home</mat-icon></td>
                <td>Added Jim to contact list<p class="mb-0">Important Message</p></td>
                <td>May 28</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
