.description {
  background: #f4f6f8
}
.header div {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 20px;
  text-align: center;
  height: 80px;
  padding-top: 26px
}
.header img {
  width: 100px;
  position: absolute;
  top: 0
}
@media (max-width: 767px) {
  .header div {
    padding: 16px;
    height: auto;
  }
}
.description {
  font-size: 16px;
  line-height: 24px;
}
.dashboard-card {
  width: 350px;
  margin: auto;
  background: #f4f6f8;
}
.user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  padding: 2px;
  border: 2px solid white;
}
.mat-card-image {
  max-height: 320px;
}
.about-card {
  background: #f4f6f8;
}
.about-card button {
  margin-top: -8px
}
.photo-upload {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 56px;
  background: #607d8b;
  color: white;
  height: 32px;
  border-radius: 4px;
  padding-top: 2px;
}
.photo-upload:hover {
  background: #cfd8dc;
  color: #607d8b;
  cursor: pointer;
}
.edit-card mat-card {
  background: #f4f6f8;
}
.edit-card img {
  max-height: 320px;
  max-width: 100%;
}
.edit-card {
  text-align: center;
}
