mat-toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
  position: fixed;
  z-index: 2;
  background: #263238;
  color: white
}
.logo {
  letter-spacing: 8px;
}
.logo img {
  width: 42px;
  background: white;
  border-radius: 50%;
  padding: 3px;
  letter-spacing: 8px;
}
.search-bar-wrapper {
  background-color: rgba(255,255,255, 0.1);
  border: none;
  border-radius: 6px;
  height: 42px;
  letter-spacing: 2px;
  width: 100%;
  max-width: 360px;
  margin-left: 48px;
}
.search-bar-wrapper input {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 320px;
  height: 42px;
}
.search-bar-wrapper input:focus {
  outline: none;
}
.search-bar-wrapper input::placeholder {
  color: white;
}
.button {
  font-size: 28px;
  height: 28px;
}
.pl-14 {
  padding-left: 18px!important;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -16px!important;
}

.is-mobile {
  position: fixed;
  z-index: 2;
}
mat-sidenav-container {
  top: 64px;
  background: #f4f6f8;
}
mat-sidenav {
  width: 220px;
}
.notification-menu mat-sidenav {
  width: 220px;
}
mat-nav-list {
  overflow: hidden;
  padding-top: 20px
}
mat-sidenav-content {
  padding: 24px 16px;
  height: calc(100vh - 64px);
  margin-left: 60px;
}
mat-sidenav.notification-bar {
  width: 360px;
  padding: 24px
}
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 60px !important;
  overflow: hidden;
}
mat-sidenav:not(.mat-drawer-opened) .menu-item-title {
  display: none !important;
}
.simple-menu-item {
  height: 48px;
  padding: 0px 20px;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  color: #263238;
  display: flex;
  align-items: center;
}
.simple-menu-item:hover, .simple-menu-item:focus {
  outline: 0;
  background: #eceff1;
}
.simple-menu-item:focus {
  border-left: 4px solid #243238;
  margin-left: 1px;
}
.simple-menu-item mat-icon
{
  font-size: 24px;
  margin-right: 14px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.d-flex .mat-card-header {
  font-size: 14px;
}
.message-text {
  font-weight: 500;
  color: #263238;
}
.message-text span {
  font-weight: initial;
}
.message-text p {
  margin-top: 8px;
  font-weight: initial;
}
.d-flex mat-icon {
  font-size: 36px;
  margin-right: 24px;
  margin-top: 24px
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  background: #f2f4f6;
}
mat-card-actions {
  margin-top: 8px
}
.search-btn mat-icon {
  vertical-align: initial!important;
}
@media (max-width: 600px) {
  mat-sidenav-container {
    top: 56px
  }
  mat-sidenav-content {
    height: calc(100vh - 56px);
    margin-left: 0;
  }
  mat-sidenav:not(.mat-drawer-opened) {
    width: 0!important;
  }
}

