<div class="p-header">Business Register</div>
<div class="p-title">Please achieve your idea!</div>
<div class="row">
  <div class="col-xl-3 col-lg-6">
    <mat-card>
      <mat-card-header>Register a business or Organization</mat-card-header>
      <img src="assets/images/auth_logo.png" alt="MSE" class="quiz-logo">
      <img mat-card-image src="assets/cards/353x177_2.jpg" alt="user-pic">
      <mat-card-content class="text-right d-block">
        <button mat-raised-button color="primary" class="mr-2">Credits</button>
        <button mat-raised-button color="primary">Start</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xl-3 col-lg-6">
    <mat-card>
      <mat-card-header>Register a scout or Node</mat-card-header>
      <img src="assets/images/auth_logo.png" alt="MSE" class="quiz-logo">
      <img mat-card-image src="assets/cards/353x177_2.jpg" alt="user-pic">
      <mat-card-content class="text-right d-block">
        <button mat-raised-button color="primary" class="mr-2">Credits</button>
        <button mat-raised-button color="primary">Start</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xl-3 col-lg-6">
    <mat-card>
      <mat-card-header>Bee question</mat-card-header>
      <img src="assets/images/auth_logo.png" alt="MSE" class="quiz-logo">
      <img mat-card-image src="assets/cards/545x296_2.jpg" alt="user-pic">
      <mat-card-content class="text-right d-block">
        <button mat-raised-button color="primary" class="mr-2">Credits</button>
        <button mat-raised-button color="primary">Start</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xl-3 col-lg-6">
    <mat-card>
      <mat-card-header>Create model</mat-card-header>
      <img src="assets/images/auth_logo.png" alt="MSE" class="quiz-logo">
      <img mat-card-image src="assets/cards/545x296_1.jpg" alt="user-pic">
      <mat-card-content class="text-right d-block">
        <button mat-raised-button color="primary" class="mr-2">Credits</button>
        <button mat-raised-button color="primary">Start</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
